<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1800,height=device-height,user-scalable=yes" />
    <link rel="stylesheet" href="./static/style.css">
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/lib/codemirror.min.css"/>
    <link ref="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/theme/dracula.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/addon/hint/show-hint.css">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/lib/codemirror.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/addon/hint/show-hint.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/addon/hint/anyword-hint.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/addon/edit/matchbrackets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.0/mode/javascript/javascript.js"></script>
    <script src="./static/vue.min.js"></script>
    <script src="./static/jquery.min.js"></script>
    <title>The Cantonese Playground</title>


</head>

<body>
    <div id="page">
        <div id="code-place">
            <textarea id="code" name="code">
$binarySearch |数组, 数字| 要做咩:
讲嘢: |小下标| 系 0
讲嘢: |大下标| 系 |数组 嘅长度 减 1|
落操场玩跑步
    讲嘢: |中间| 系 |(大下标 加 小下标) 整除 2|
    如果 |数组[中间] 比唔上 数字| 嘅话 -> {
        讲嘢: |小下标| 系 |中间 加 1|
    }
    定系 |数字 比唔上 数组[中间]| 嘅话 -> {
        讲嘢: |大下标| 系 |中间 减 1|
    }
    唔系 嘅话 -> {
        畀我睇下 "揾到啦!!!" 点样先
        还数 啱
    }
玩到 |大下标 比唔上 小下标 | 为止
畀我睇下 "揾唔到: (" 点样先
还数 唔啱
搞掂
    
binarySearch 下 -> |[2, 3, 4, 10, 40], 10|
binarySearch 下 -> |[2, 3, 4, 10, 40], 6|
</textarea>
        </div>
        <div id="exec-place">
            <div>
                <div id="custom">
                    <p id="title">Cantonese PL Playground</p>
                    <select id="custom-font">
                        <option>Python</option>
                        <option>Html</option>
                        <option>LLVM-ir</option>
                        <option>Javascript</option>
                    </select>
                </div>

                <textarea id="transcode">
                </textarea>


                <p>The current interpreter version is: {{.}}</p>
                <p>Doc is here: <a target="_black" href="https://github.com/StepfenShawn/Cantonese/blob/main/doc/cantonese.md">cantonese-doc</a>
                </p>
            </div>
            <div id="inner">
                <button id="btn" onclick="exec()">execute!</button>
                <p id="status"></p>
            </div>
            <p id="result"></p>
            <p id="exit"></p>
        </div>
    </div>
</body>

<script>
    // TODO : fix bug here
    /*
    code_textarea = document.getElementById('code');
    var editor = CodeMirror.fromTextArea(code_textarea, {
        lineNumbers: true,
        tabSize: 4,
        value : code_textarea.value,
        mode: 'javascript',
        theme : 'dracula'
    });

    var trans_code_editor = CodeMirror(document.getElementById("transcode"), {
        lineNumbers: true,
        indentUnit: 4,
        styleActiveLine: true,
        matchBrackets: true,
        mode: 'text/x-python', 
        lineWrapping: true,
        theme: 'dracula',
    })
    */
</script>

</html>