html,
body {
    margin: 0px;
    height: 100%;
    font-family: monospace;
}

*:focus {
    outline: none;
}

#code {
    width: 92%;
    height: 92%;
    margin: 2%;
    padding: 2%;
    resize: none;
    border: none;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    vertical-align:middle;
    color: #f1f1f1;
    font-weight:normal;
    background-color: #252526;
}

#transcode {
    width: 92%;
    height: 500px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    vertical-align:middle;
    color: #f1f1f1;
    font-weight:normal;
    background-color: #252526;
}

#btn {
    font-weight: bold;
}

 #page {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#code-place {
    width: 65%;
}

#exec-place {
    width: 35%;
    padding-top: 20px;
}

#title {
    margin-top: 20px;
    width: 35%;
    font-weight: bold;
}

#exec {
    margin-top: 30px;
}

#inner {
    display: flex;
    align-items: center;
}

#inner p {
    margin-left: 10px;
}

#custom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#custom select {
    margin-right: 20px;
}

#exit {
    color: grey;
}